[Desktop Entry]
Name=LFinance
Comment=Manage your finances
TryExec=lfinance
Exec=lfinance
Icon=jcwasmx86.lfinance
Terminal=false
Type=Application
StartupNotify=true
Keywords=money,finance;
